<!--

/** Globals */

body {
	font-family : Verdana, Arial, sans-serif; 
	text-decoration : none;
	background-color: #778899;
	margin: 0;
	color : Black;
	font-size : 8pt;
}

a {
	font-family : Verdana, Arial, sans-serif; 
	text-decoration : none; color : Black; 
}

a:hover { 
	font-family : Verdana, Arial, sans-serif; 
	color : Black; 
}

#content {
	width: 100%
	margin: 0 auto;
	padding: 0;
}

select {
	background-color: #F4F1D9;font-size : 12px;
}

combo {
	background-color: #F4F1D9;font-size : 12px;
}

textarea {
	background-color: #FAFAFA; font-size : 12px;
}

form {
	margin:0;
	padding:0;
}

img {
	border: 0;
}


.textbox {
	color: Black;
	background-color: #F4F1D9;	
	font-size: 12px;
}

.ComboBox {
		color : Black;
		background-color : #F4F1D9;
		font-size : 12px;
}
	
.radio {
		color : Black;
		background-color : #F4F1D9;
		font-size : 12px;
}	
		
.formfield {
		border-color : #666699 #666699 #666699 #666699;
		border-width : 1 1 1 1;
		color : Black; 
		background-color : #F4F1D9;
		height : 19px; font-size : 12px;
}

.button{
	background : transparent;
	border-style: solid solid solid double;
	border-color: #D7DFE9;
	border : 0px solid #386187;
	font-family : Verdana, Arial, sans-serif;
	font-size: 8pt;
	font-weight : bolder;
	color: #004080;
}

a.login { 
	font-weight : bolder;	
	font-family : Verdana, Arial, sans-serif;
	font-size : 8pt;
	text-decoration : none;
	color : Black; 
}

/** Header */	
#logo {
	width:100%
	padding: 5px;
}

/** Menu */

#menu {
	width: 100%;
	height: 54px;
	border: 0;
	margin: 0;
	padding: 0;
	text-align: center;
	background-image: url(images/menu-bg.gif);
}

.menuItem {
	width: 11%;
	height: 100%;
	text-align: center;
	/**display: inline;*/
	float:left;
}

.menuItem p {
	margin: 0;
	padding: 0;
}

.menuItem img {
	vertical-align: bottom;
}

.menu { font-family : Verdana, Arial, sans-serif; font-size : 8pt; color : #004080; }
.menu:link { font-family : Verdana, Arial, sans-serif; font-size : 8pt;color : #004080;  }
.menu:hover { font-family : Verdana, Arial, sans-serif; font-size : 8pt;color : #004080;  }
.menu:visited { font-family : Verdana, Arial, sans-serif; font-size : 8pt;color : #004080;  }

/** Styled button */

.btn {
	height: 22px;
	border: 0;
	width: 40px, auto;
}

.btnLeft {
	height: 22px;
	width: 9px;
	border: 0;
	padding: 0;
	margin: 0;
	float: left;
	background-image: url(images/loginbutton-left.gif);
}

.btnMiddle {
	height: 22px;
	border: 0;
	padding: 0;
	margin: 0;
	text-align: center;
	background-image: url(images/loginbutton-mid.gif);
}

.btnRight {
	height: 22px;
	width: 9px;
	border: 0;
	padding: 0;
	margin: 0;
	float: right;
	background-image: url(images/loginbutton-right.gif);
}



table.buttonTable {		
	height: 22px;
	border: 0;
	padding: 0;
	margin: 0;
}
td.buttonLeft {
	background-image: url(images/loginbutton-left.gif);
	height: 22px;
	width: 9px;
	padding: 0;
	margin: 0;
}
td.buttonMiddle {
	background-image: url(images/loginbutton-mid.gif);
	height: 22px;
	padding: 0;
	margin: 0;
}
td.buttonRight {
	background-image: url(images/loginbutton-right.gif);
	height: 22px;
	width: 9px;
	padding: 0;
	margin: 0;
}

/**
table.menu {
	background-image: url(images/menu-bg.gif);
	padding: 3px;
	height: 54px;
	width: 100%;
	border: 0;
}
	.menu { font-family : Verdana, Arial, sans-serif; font-size : 8pt; color : #004080; }
	.menu:link { font-family : Verdana, Arial, sans-serif; font-size : 8pt;color : #004080;  }
	.menu:hover { font-family : Verdana, Arial, sans-serif; font-size : 8pt;color : #004080;  }
	.menu:visited { font-family : Verdana, Arial, sans-serif; font-size : 8pt;color : #004080;  }
	.navigation { font-family : Verdana, Arial, sans-serif; font-size : 8pt;color : #004080; }

	.navigation:link { text-decoration: none; font-family : Verdana, Arial, sans-serif; font-size : 8pt;color : #004080;  }
	.navigation:hover { text-decoration: none; font-family : Verdana, Arial, sans-serif; font-size : 8pt;color : #004080;  }
	.navigation:visited { text-decoration: none; font-family : Verdana, Arial, sans-serif; font-size : 8pt;color : #004080; }
*/
	.autolink:link { text-decoration: underline; font-family : Courier New, Verdana, Arial, sans-serif; font-size : 9pt; color : #004080; }
	.autolink:hover { text-decoration: underline; font-family : Courier New, Verdana, Arial, sans-serif; font-size : 9pt; color : #004080; }
	.autolink:visited { text-decoration: underline; font-family : Courier New, Verdana, Arial, sans-serif; font-size : 9pt; color : #004080; }

table.login_bg {
	background-image: url(images/login-bg.gif);
}

 	

td.usage {
	font-family : Verdana, Arial, sans-serif;
	font-size : 8pt;
	background-image: url(images/usage-bg.gif);
	height: 32px;
	text-align: center;
}

	TD.rempli { font-family : Verdana, Arial, sans-serif; background-color : #66CC99;}
	TD.memo { font-family : Verdana, Arial, sans-serif; background-color: #E8E8E8;}
	TD.cent { font-family : Verdana, Arial, sans-serif; background-color: #DDE3EB; text-align: center; font-size : 8pt; color: Black;}
	TD.right { font-family : Verdana, Arial, sans-serif; background-color: #DDE3EB; text-align: right; font-size : 8pt; color: Black;}
	TD.right2 { font-family : Verdana, Arial, sans-serif; text-align: right; font-size : 8pt; color: Black;}

td.headers {
		font-family : Verdana, Arial, sans-serif;
		background-color : #CFCFCF;
		background-image: url(images/header-bg.gif);
		text-align : center;
		font-size : 8pt;
		color:  #004080;
}

td.separator {
	background-image: url('images/cellseparator.gif');
	height: 2px;
}

TD.default { font-family : Verdana, Arial, sans-serif; background-color : #DDE3EB; font-size : 8pt;color : Black; }
TD.default2 { font-family : Verdana, Arial, sans-serif; font-size : 8pt;color : Black; }
TD.default9 { font-family : Verdana, Arial, sans-serif; background-color : #E8E8E8; font-size : 9pt;color : Black; }
TD.title { font-family : Verdana, Arial, sans-serif; color: #191970; background-color : #B0C4DE; text-align : center; font-size : 8pt;}
TD.headerright { font-family : Verdana, Arial, sans-serif; color: #004080; background-color : #E6ECF3; text-align : right;  font-size : 8pt; }
TD.headerright2 { font-family : Verdana, Arial, sans-serif; color: #004080; background-color : #E6ECF3;  BACKGROUND-IMAGE: url(images/header-bg.gif); text-align : right;  font-size : 8pt; }

		
-->
