
<!--
BODY {
	background-color: #808080;
}
TABLE.window_outer {
	border-style: solid;
	border-width: 1px;
	border-top-color: #D4D0C8;
	border-left-color: #D4D0C8;
	border-right-color: #404040;
	border-bottom-color: #404040;
}
TABLE.window_inner {
	background-color: #D4D0C8;
	border-style: solid;
	border-width: 1px;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-right-color: #808080;
	border-bottom-color: #808080;
}
TD.outer {
	border-style: solid;
	border-width: 1px;
	border-top-color: #D4D0C8;
	border-left-color: #D4D0C8;
	border-right-color: #404040;
	border-bottom-color: #404040;
}
TD.inner {
	background-color: #D4D0C8;
	border-style: solid;
	border-width: 1px;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-right-color: #808080;
	border-bottom-color: #808080;
}
TD.editor_button_off {
	border-style: solid;
	border-width: 1px;
	border-color: #D4D0C8;
	vertical-align: middle;
	text-align: center;
	width: 70px;
	height: 44px;
	cursor: default;
}
TD.editor_button_on {
	border-style: solid;
	border-width: 1px;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-right-color: #808080;
	border-bottom-color: #808080;
	vertical-align: middle;
	text-align: center;
	width: 70px;
	height: 44px;
	cursor: default;
}
TD.editor_button_down {
	border-style: solid;
	border-width: 1px;
	border-top-color: #808080;
	border-left-color: #808080;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	vertical-align: middle;
	text-align: center;
	width: 70px;
	height: 44px;
	cursor: default;
}
TD.headers {
	background-color: #D4D0C8;
	border-style: solid;
	border-width: 1px;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-right-color: #808080;
	border-bottom-color: #808080;
	font-family: Tahoma, Arial, sans serif;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	vertical-align: middle;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 3px;
	padding-right: 3px;
	height: 10px;
}
TD.editor {
	border-style: solid;
	border-width: 1px;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-right-color: #404040;
	border-bottom-color: #404040;
	padding: 2px;
}
TD.info_bar {
	border-style: solid;
	border-width: 1px;
	border-top-color: #808080;
	border-left-color: #808080;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	font-family: Tahoma, Arial, sans serif;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	vertical-align: middle;
	padding: 2px;
}
TD.label {
	font-family: Tahoma, Arial, sans serif;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	vertical-align: top;
	padding: 5px;
}
TD.messages {
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-top-color: #808080;
	border-left-color: #808080;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}
TD.messagelist {
	background-color: #FFFFFF;
	font-family: Tahoma, Arial, sans serif;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	vertical-align: middle;
	cursor: default;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
	white-space: nowrap;
}
TD.messagelist_over {
	background-color: #D5E8F9;
	font-family: Tahoma, Arial, sans serif;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	vertical-align: middle;
	cursor: default;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
	white-space: nowrap;
}
TD.newmsg_attachments_outer {
	border-style: solid;
	border-width: 1px;
	border-top-color: #808080;
	border-left-color: #808080;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	height: 19px;
}
TD.newmsg_attachments_inner {
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-top-color: #404040;
	border-left-color: #404040;
	border-right-color: #D4D0C8;
	border-bottom-color: #D4D0C8;
	height: 19px;
	font-family: Tahoma, Arial, sans serif;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	vertical-align: middle;
}
TD.outlook_bar_outer {
	background-color: #808080;
	border-style: solid;
	border-width: 1px;
	border-top-color: #808080;
	border-left-color: #808080;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	width: 97px;
}
TABLE.outlook_bar_inner {
	background-color: #808080;
	border-style: solid;
	border-width: 1px;
	border-top-color: #404040;
	border-left-color: #404040;
	border-right-color: #D4D0C8;
	border-bottom-color: #D4D0C8;
	vertical-align: top;
}
TD.outlook_bar_button_off {
	border-style: solid;
	border-width: 1px;
	border-color: #808080;
	vertical-align: middle;
	text-align: center;
	width: 93px;
	height: 65px;
	cursor: default;
	white-space: nowrap;
}
TD.outlook_bar_button_on {
	border-style: solid;
	border-width: 1px;
	border-top-color: #D4D0C8;
	border-left-color: #D4D0C8;
	border-right-color: #000000;
	border-bottom-color: #000000;
	vertical-align: middle;
	text-align: center;
	width: 93px;
	height: 65px;
	cursor: default;
	white-space: nowrap;
}
TD.outlook_bar_button_down {
	border-style: solid;
	border-width: 1px;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #D4D0C8;
	border-bottom-color: #D4D0C8;
	vertical-align: middle;
	text-align: center;
	width: 93px;
	height: 65px;
	cursor: default;
	white-space: nowrap;
}
TD.scrollbar_button {
	background-color: #D4D0C8;
	border-style: solid;
	border-width: 1px;
	border-top-color: #D4D0C8;
	border-left-color: #D4D0C8;
	border-right-color: #000000;
	border-bottom-color: #000000;
	vertical-align: middle;
	text-align: center;
	width: 17px;
	height: 17px;
	cursor: default;
}
TD.scrollbar_path {
	background-image: url('images/scrollbar_path.gif');
	background-repeat: repeat;
	border-style: none;
	vertical-align: middle;
	text-align: center;
	width: 17px;
	cursor: default;
}
TD.seccion_title {
	background-color: #808080;
	height: 23px;
	border-style: none;
	font-family: Tahoma, Arial, sans serif;
	font-weight: bold;
	font-size: 16px;
	color: #FFFFFF;
	vertical-align: middle;
	width: 100%;
	white-space: nowrap;
	cursor: default;
}
TD.seccion_title_out {
	background-color: #808080;
	height: 23px;
	border-style: solid;
	border-width: 1px;
	border-color: #808080;
	font-family: Tahoma, Arial, sans serif;
	font-weight: bold;
	font-size: 16px;
	color: #FFFFFF;
	vertical-align: middle;
	white-space: nowrap;
	cursor: default;
}
TD.seccion_title_over {
	background-color: #808080;
	height: 23px;
	border-style: solid;
	border-width: 1px;
	font-family: Tahoma, Arial, sans serif;
	font-weight: bold;
	font-size: 16px;
	color: #FFFFFF;
	vertical-align: middle;
	white-space: nowrap;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-right-color: #000000;
	border-bottom-color: #000000;
	cursor: default;
}
TD.seccion_title_down {
	background-color: #808080;
	height: 23px;
	border-style: solid;
	border-width: 1px;
	font-family: Tahoma, Arial, sans serif;
	font-weight: bold;
	font-size: 16px;
	color: #FFFFFF;
	vertical-align: middle;
	white-space: nowrap;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	cursor: default;
}
TD.toolbar_outer {
	border-style: solid;
	border-width: 1px;
	border-top-color: #808080;
	border-left-color: #808080;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	width: 100%;
	height: 48px;
}
TD.toolbar_inner {
	background-color: #D4D0C8;
	border-style: solid;
	border-width: 1px;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-right-color: #808080;
	border-bottom-color: #808080;
	width: 100%;
	height: 100%;
}
TD.toolbar_button_off {
	border-style: solid;
	border-width: 1px;
	border-color: #D4D0C8;
	vertical-align: middle;
	text-align: center;
	width: 70px;
	height: 44px;
	cursor: default;
	white-space: nowrap;
}
TD.toolbar_button_on {
	border-style: solid;
	border-width: 1px;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-right-color: #808080;
	border-bottom-color: #808080;
	vertical-align: middle;
	text-align: center;
	width: 70px;
	height: 44px;
	cursor: default;
	white-space: nowrap;
}
TD.toolbar_button_down {
	border-style: solid;
	border-width: 1px;
	border-top-color: #808080;
	border-left-color: #808080;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	vertical-align: middle;
	text-align: center;
	width: 70px;
	height: 44px;
	cursor: default;
	white-space: nowrap;
}
TD.toolbar_splitter {
	vertical-align: middle;
}
TD.window_title {
	background-image: url('images/window_title.png');
	background-repeat: repeat-y;
	background-color: #A6CAF0;
	border-style: none;
	height: 18px;
	font-family: Tahoma, Arial, sans serif;
	font-weight: bold;
	font-size: 11px;
	color: #FFFFFF;
	vertical-align: middle;
}
TD.window_title_X {
	background-color: #A6CAF0;
	vertical-align: middle;
	text-align: right;
	padding: 2px;
}
INPUT.button {
	background-color: #D4D0C8;
	font-family: Tahoma, Arial, sans serif;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	vertical-align: middle;
	padding: 1px;
}
INPUT.textbox {
	font-family: Tahoma, Arial, sans serif;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	width: 400px;
}
INPUT.file {
	font-family: Tahoma, Arial, sans serif;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
}
TEXTAREA {
	font-family: Tahoma, Arial, sans serif;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
}
SELECT {
	font-family: Tahoma, Arial, sans serif;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
}
SELECT.priority {
	border-style: none;
	font-family: Tahoma, Arial, sans serif;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	width: 100px;
}
A {
	font-family: Tahoma, Arial, sans serif;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	text-decoration : none;
}
A:hover {
	font-family : Tahoma, Arial, sans serif;
	font-weight : normal;
	font-size : 11px;
	color : #316bc6;
	text-decoration : underline;
}
FONT.xx-normal {
	font-family : Tahoma, Arial, sans serif;
	font-weight : normal;
	font-size : 11px;
}
DIV.priority_outer {
	border-style: solid;
	border-width: 1px;
	border-top-color: #D4D0C8;
	border-left-color: #D4D0C8;
	border-right-color: #404040;
	border-bottom-color: #404040;
	visibility: hidden;
	z-index: 2;
	position: absolute;
	left: 170px;
	top: 84px;
	width: 100px;
}
DIV.priority_inner {
	background-color: #D4D0C8;
	border-style: solid;
	border-width: 1px;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-right-color: #808080;
	border-bottom-color: #808080;
	width: 100%;
}
DIV.tab_visible {
	background-color: #D4D0C8;
	width: 550px;
	display: block;
}
DIV.tab_hidden {
	background-color: #D4D0C8;
	width: 550px;
	display: none;
}
DIV.showmodal {
	BORDER:0;
	DISPLAY: block;
}
DIV.hidemodal {
	BORDER:0;
	DISPLAY: none;
}
TABLE.tab {
	background-color: #D4D0C8;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #FFFFFF;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #808080;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
}
TD.tab_blank {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #FFFFFF;
}
TD.tab_info_visible {
	cursor: default;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D4D0C8;
}
TD.tab_info_hidden {
	cursor: default;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}
FIELDSET {
	padding: 7px;
	border: 2px #eeeeee groove;
}
HR {
	border: 1 #eeeeee groove;
}
TD.folders_visible {
	background-color: #FFFFFF;
	border-top: 1px #404040 solid;
	border-left: 1px #404040 solid;
	border-right: 1px #FFFFFF solid;
	border-bottom: 1px #FFFFFF solid;
	width: 250px;
	padding: 0;
}
TD.folders_hidden {
	width: 1px;
}
ACRONYM {
	border: 0;
	padding: 0;
}
TABLE.folders_inner {
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-top-color: #404040;
	border-left-color: #404040;
	border-right-color: #D4D0C8;
	border-bottom-color: #D4D0C8;
}
TD.folders_outer {
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-top-color: #808080;
	border-left-color: #808080;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}
-->
