<!--
	.textbox {
		font-size: 9px;
		font-family: verdana;

			}
	.formfield {
		background-color : #99CCFF;
		font-size : 12px;
	}

	input  {
		font-size: 9px;
		font-family: verdana;
	}

	select  {
		font-size: 9px;
		font-family: verdana;
	}

	BODY {font-family : Verdana, Arial, sans-serif; text-decoration : none; color : Black;  font-size : 11px;}
	.white {font-family : Verdana, Arial, sans-serif; text-decoration : none; color : #FFFFFF;  font-size : 11px;}
	A { font-family : Verdana, Arial, sans-serif; text-decoration : none; color : Black; }
	A:HOVER { font-family : Verdana, Arial, sans-serif; color : Black; }

	.menu { font-family : Verdana, Arial, sans-serif; font-size : 11px; color : #000000; }
	.menu:link { font-family : Verdana, Arial, sans-serif; font-size : 11px;color : #000000;  }
	.menu:hover { font-family : Verdana, Arial, sans-serif; font-size : 11px;color : #000000;  }
	.menu:visited { font-family : Verdana, Arial, sans-serif; font-size : 11px;color : #000000;  }
	.navigation { font-family : Verdana, Arial, sans-serif; font-size : 11px;color : #000000; }

	.navigation:link { text-decoration: none; font-family : Verdana, Arial, sans-serif; font-size : 11px;color : #000000;  }
	.navigation:hover { text-decoration: none; font-family : Verdana, Arial, sans-serif; font-size : 11px;color : #000000;  }
	.navigation:visited { text-decoration: none; font-family : Verdana, Arial, sans-serif; font-size : 11px;color : #000000; }

	.autolink:link { text-decoration: underline; font-family : Courier New, Verdana, Arial, sans-serif; font-size : 9pt; color : #000000; }
	.autolink:hover { text-decoration: underline; font-family : Courier New, Verdana, Arial, sans-serif; font-size : 9pt; color : #000000; }
	.autolink:visited { text-decoration: underline; font-family : Courier New, Verdana, Arial, sans-serif; font-size : 9pt; color : #000000; }

	TD.rempli { font-family : Verdana, Arial, sans-serif; background-color : #66CC99;}
	TD.memo { font-family : Verdana, Arial, sans-serif; background-color: #E8E8E8;}
	TD.cent { font-family : Verdana, Arial, sans-serif; background-color: none; text-align: center; font-size : 11px; color: Black;}
	TD.right { font-family : Verdana, Arial, sans-serif; background-color: #FFFFFF; text-align: right; font-size : 11px; color: Black;}
	TD.headers { font-family : Verdana, Arial, sans-serif; background-color : none; text-align : center; font-size : 11px; color:  #000000;  }
	TD { font-family : Verdana, Arial, sans-serif; background-color : none; font-size : 11px; color : Black; }
	TD.default { font-family : Verdana, Arial, sans-serif; background-color : none; font-size : 11px; color : Black; }
	TD.defaultC { font-family : Verdana, Arial, sans-serif; background-color : none; font-size : 11px; text-align: center; color : Black; }
	TD.defaultLogin { font-family : Verdana, Arial, sans-serif; background-color : #FFFFFF; font-size : 11px;color : Black; }
	TD.default9 { font-family : Verdana, Arial, sans-serif; background-color : #E8E8E8; font-size : 9pt;color : Black; }
	TD.title { font-family : Verdana, Arial, sans-serif; color: #000000; background-color : #FFFFFF; text-align : center; font-size : 11px;}
	TD.headerright { font-family : Verdana, Arial, sans-serif; color: #000000; background-color : #E6E6E6; text-align : right;  font-size : 11px; }
-->